<!DOCTYPE html>

<html data-ng-app="csu-app" lang="en-US" xml:lang="en-US">

<body onhashchange="if (typeof(_spBodyOnHashChange) != 'undefined') _spBodyOnHashChange();">
<form action="./" id="aspnetForm" method="post" onsubmit="javascript:return WebForm_OnSubmit();">


































<noindex>







<noscript>

       You may be trying to access this site from a secured browser on the server. Please enable scripts and reload this page.
      
</noscript>


 











</noindex>







<noindex>
<header>











</header>



 





<h1>California State University Office of the Chancellor</h1>
 


 Home 




</noindex>




<noindex>





</noindex>

<noindex>





</noindex>









           PC3
          

<p>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​<br/></p>






            PCW
           












<video autoplay="true" class="desktop-only-" height="100%" loop="true" muted="true" width="100%">
<source src="/PublishingImages/Chancellor%20Castro%20Hero%20compressed.mp4?v=1" type="video/mp4"/> Your browser does not support the video tag. 
                       </video>

<h2>Trustees Select Joseph I. Castro as Eighth Chancellor of the CSU</h2>










<ol class="carousel-indicators">
 
</ol>

















<hr class="margin-bottom-55px hide-"/>





<h2 style="text-align: left; margin-bottom: -3px;">Watch the Board of Trustees Live</h2>
<h4 style="text-align: left;">September 20-23, 2020</h4>
<p class="hide" style="text-align:left">Click the video player on the left to watch the live proceeding of the CSU Board of Trustees meeting.</p>



<br/>





<hr class="margin-top-bot-55px desktop-only hide"/>









<hr class="mobile-only" unselectable="on"/>







<section class="spotlight data-ng-controller" data-ng-controller="SpotlightControllerHome" data-ng-init="init('In the Spotlight','Budget,Graduation Initiative,Diversity')" id="homepageSpotlight">

<h2 class="margin-bottom-35px">{{SpotlightTitle}}</h2>




<section class="col-sm-4 col-lg-4" data-ng-repeat="item in allNewsItems | limitTo:3">



</section>




<section class="col-sm-4 col-lg-4" data-ng-repeat="item in allNewsItems | newsTopicFilter:topic.displayName | orderBy:'ArticleStartDate':true | limitTo:3">



</section>





</section>
























<h2> "Receiving Financial Aid At CSU San Marcos Helped Me Focus On My Studies And Stay On A Timeline." </h2>


















<hr class="margin-bottom-55px" unselectable="on"/>


 
              

<h2 style="text-align:left;" unselectable="on">CSU Responds to Coronavirus Pandemic</h2>
<h4 class="hide" style="text-align:left;" unselectable="on">January 28-29, 2020</h4>
<p class="-hide" style="text-align:left;" unselectable="on">The safety and well-being of California State University students, faculty and staff are foundational concerns for the institution. On this site, you’ll find Information about the university’s response to the pandemic, as well as links to individual campuses.</p>



<br/>




<hr class="margin-top-55px desktop-only" unselectable="on"/>




<h2 class="margin-bottom-25px no-margin-top" unselectable="on">CSU Campuses<br unselectable="on"/></h2>































<br/>

































<noindex>
<footer>



<ul class="root ms-core-listMenu-root static" id="zz4_RootAspMenu">
Attend
<ul class="static">










</ul>
Impact of the CSU
<ul class="static">










</ul>
The CSU System
<ul class="static">











</ul>

</ul>



<address class="col-lg-2"> <p class="address-heading">California State University<br/>Office of the Chancellor</p> <p>401 Golden Shore<br/> Long Beach CA 90802</p> <p class="footer-phone">(562) 951-4000</p> <p></p> <p></p> <p></p> <p></p> </address>


</footer>
</noindex>













</form>





<button aria-label="Close large modal button" class="close" data-dismiss="modal" type="button"> x</button>




























<button aria-label="Close" class="close" data-dismiss="modal" type="button"> </button>











  
</body>
</html>